.preview {
    background: var(--app-bg-primary);
    color: var(--editor-ui-text);
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.preview * {
    user-select: text;
}

.preview-inner {
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
    color: var(--editor-ui-text);
    word-break: break-word;
    width: 100%;
    height: auto;
    max-width: 760px;
    font-size: 16px;
}

.preview-inner::after {
    content: '';
    display: block;
    height: 60px;
}

/* Reset first/last spacing */
.preview-inner > :first-child {
    margin-top: 0;
}

.preview-inner > :last-child {
    margin-bottom: 0;
}
