.cm-editor {
    height: 100%;
}
.cm-editor .cm-scroller {
    overflow: auto;
} /* Thin by default */
.cm-editor .cm-scroller::-webkit-scrollbar {
    width: 6px;
    height: 6px;
} /* Big when scrolling */
.cm-editor .cm-scroller.is-scrolling::-webkit-scrollbar {
    width: 10px;
    height: 10px;
} /* Big when hovering scrollbar track area */
.cm-editor .cm-scroller::-webkit-scrollbar:hover {
    width: 10px;
    height: 10px;
}
.cm-editor .cm-scroller::-webkit-scrollbar-track {
    background: transparent;
}
.cm-editor .cm-scroller::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.cm-editor .cm-scroller::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}
.cm-editor .cm-scroller::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
}
