.geodes-empty-state {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.geodes-empty-state img {
    width: 120px;
    -webkit-user-drag: none;
    opacity: 60%;
}

.geodes-empty-state h2 {
    color: var(--app-text-primary);
    font-size: 22px;
}

.geodes-empty-state p {
    color: var(--app-text-secondary);
    font-size: 14px;
    text-align: center;
}

.geodes-empty-state p a {
    color: var(--app-primary);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.geodes-empty-state p a:hover {
    color: var(--app-accent);
}

.geodes-empty-state p a:active {
    color: var(--app-primary);
}
