.note-empty-state {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.note-empty-state img {
    width: 140px;
    -webkit-user-drag: none;
    opacity: 60%;
}

.note-empty-state h2 {
    color: var(--app-text-primary);
    font-weight: 600;
    text-align: center;
}

.note-empty-state p {
    color: var(--app-text-secondary);
    text-align: center;
    font-weight: 300;
}
