.note-empty-state {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.note-empty-state img {
    width: 140px;
    opacity: 70%;
}

.note-empty-state h2 {
    color: var(--app-text-primary);
}

.note-empty-state p {
    color: var(--app-text-secondary);
}
