.geodes-manager-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 16px;
    min-height: 0;
    overflow: hidden;
}

.geodes-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

.panel-title {
    margin: 0;
    font-weight: 600;
    color: var(--app-text-primary);
    font-size: 20px;
}

.geodes-empty-state {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.geodes-empty-state img {
    width: 110px;
    -webkit-user-drag: none;
    opacity: 60%;
}

.geodes-empty-state h2 {
    color: var(--app-text-primary);
    font-size: 22px;
}

.geodes-empty-state p {
    color: var(--app-text-secondary);
    font-size: 14px;
    text-align: center;
}

.geodes-empty-state p a {
    color: var(--app-primary);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.geodes-empty-state p a:hover {
    color: var(--app-accent);
}

.geodes-empty-state p a:active {
    color: var(--app-primary);
}

.geodes-manager-actions {
    display: flex;
    gap: 8px;
    flex: 0 0 auto;
}

.geodes-manager-actions button {
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    color: var(--app-text-primary);
    cursor: pointer;
    width: 100%;
    border: var(--app-border) 1px solid;
    transition: background-color 0.2s ease-in-out;
}

.geodes-manager-actions .create-geode {
    background-color: var(--app-primary);
}

.geodes-manager-actions .open-folder {
    background-color: var(--app-bg-primary);
}

.geodes-manager-actions .create-geode:hover {
    background-color: var(--app-accent);
}

.geodes-manager-actions .open-folder:hover {
    background-color: var(--app-bg-secondary);
}

.geodes-manager-actions .create-geode:active {
    background-color: var(--app-primary);
}

.geodes-manager-actions .open-folder:active {
    background-color: var(--app-bg-primary);
}
